<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>
		<title>Form | Hogwarts</title>
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a th:href="@{/}">Hogwarts</a></li>
					<li><a th:href="@{/list}">Wizards</a></li>
					<li><a th:href="@{/list/new}">New Wizard</a></li>
				</ul>
			</nav>
		</header>		
		<main>
			<section>
				<h1>Register Wizards</h1>
			</section>
			<section>
				<form th:action="@{}" th:object="${}" th:method="${}">
					<div th:if="${}">
						<label>Id: </label>
						<input th:field="*{id}" readonly="readonly"/>
					</div>
					<div>
						<label>Name: </label>
						<input th:field="*{name}"/>
					</div>
					<div>
						<label>Telephone: </label>
						<input th:field="*{telephone}"/>
					</div>
					<div>
						<label></label>
					</div>
				</form>
			</section>
		</main>
	</body>
</html>